#okta-sign-in {
  margin: 3rem auto 0.5rem;
  .okta-sign-in-header {
    display: none;
  }
  &.auth-container {
    .auth-footer {
      > .link {
        color: #0073c8;
      }
    }
    #help-links-container {
      .link {
        color: #0073c8;
      }
    }
  }
}

.term-and-condition-button {
  color: #0073c8;
  padding-left: 3px;
}
